@using MinecraftServerWeb.Utility
@using System.Security.Claims   
@model CommentViewModel
@inject IWebHostEnvironment WebHostEnvironment
@{
    <div class="row mt-2 mb-1">
                <div class="row mb-1">
                    <div class="col-md-8 d-flex align-items-center mb-1">
                        <img src="@UserImagesManager.GetUserImagePath(Model.CommentAuthor.Email, WebHostEnvironment, "100")" asp-append-version="true" class="img-fluid rounded-circle"
                style="padding-top: 5px;" alt="image of user"/>
                        <h6 class="text-wrap mt-2 ms-2 me-2"> @Model.CommentAuthor.ForumNickname </h6>
                        <div class="badge rounded-pill bg-danger col-sm-3"> @Model.CommentAuthor.Rank </div>
                    </div>
                </div>
                <div class="col-sm-9 align-content-center mt-2 me-2 ms-1">
                    <div class="row">
                        <span class="form-control" readonly>
                            @Model.Comment.Content
                        </span>
                    </div>
                    <div class="row d-flex align-content-end mt-2">
                        <h6>Dodano: @Model.Comment.DateCreated</h6>
                    </div>
                </div>
                @if (User.IsInRole(SD.RoleMod) || User.IsInRole(SD.RoleAdmin) || User.IsInRole(SD.RoleOwner) ||
             User.FindFirstValue(ClaimTypes.NameIdentifier) == Model.Comment.AuthorId)
            {
                    <div class="col-sm-1 mt-1 offset-1">
                        @{ string url = "/Comments/DeleteComment/" + Model.Comment.PostId + "/" + Model.Comment.CommentId;
                        <button class="btn btn-outline-danger float-end" onclick="DeleteComment('@url')"> Usuń komentarz </button>
                        }@* TODO after adding edit history 
                        
                @if(User.FindFirstValue(ClaimTypes.NameIdentifier) == Model.Comment.AuthorId)
                {
                <a class="btn btn-outline-warning float-end mt-2"> Edytuj komentarz </a>
                }*@
                    </div>
            }
    </div>
}

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
    <script src="js/User/Comments.js"></script>

}