@model BlockAccountViewModel
@inject UserManager<IdentityUser> UserManager

<div class="row">
    <div class="col-md-4 mb-3">
        <div class="card">
            <div class="card-body">
                <div class="d-flex flex-column align-items-center text-center">
                    <img src="https://media.sketchfab.com/models/c9937e06e98c463c9a645b299b24cd2f/thumbnails/3427570ea6ba4cc8be1333fd9c510381/80e39cbc5c8b475ebd393d64f67800fe.jpeg" alt="Image of User" width="200" height="200">
                    <div class="mt-3">
                        <h3>Nazwa na forum: @Model.User.ForumNickname</h3>
                        <h5>Nazwa na serwerze: @Model.User.ServerNickname</h5>
                        <p class="text-warning mb-1">Ranga: @Model.User.Rank</p>
                        <p class="text-white"><small>Dołączył: @Model.User.DateCreated </small></p>
                    </div>
                    @if (UserManager.IsLockedOutAsync(Model.User).GetAwaiter().GetResult())
                    {
                        <h5 class="text-danger">Użytkownik zablokowany</h5>
                        <a class="btn btn-outline-warning mt-3" onclick="UnbanConfirmation('@Model.User.ForumNickname', '/Admin/UnblockAccount/@(Model.User.Id)')" > Odblokuj użytkownika </a>
                    }
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-4 offset-1">
        <form asp-action="BlockAccountManager">
            <div class="row">
                <label for="DatePicker" class="form-label"> Wybierz datę końca blokady użytkownika: </label>
            </div>
            <div class="row form-group">
                <input type="hidden" asp-for="userId" value="@Model.User.Id"/>
                <div class="input-group date" id="DatePicker">
                    <input type="text" class="form-control" asp-for="BlockEndDate"/>
                    <span class="input-group-append">
                        <span class="input-group-text ms-1">
                            <i class="fa-xl fa-regular fa-calendar"></i>
                        </span>
                    </span>
                </div>
                <div class="row mt-3">
                    <label for="DatePicker" class="form-label mt-2"> Wybierz godzinę końca blokady użytkownika: </label>
                </div>
                <div class="input-group timepicker">
                    <input type="text" class="form-control" id="TimePicker" asp-for="BlockEndTime"/>
                </div>
                <div class="row mt-3">
                    <label for="BanReason" class="form-label mt-2"> Powód blokady: </label>
                </div>
                <div class="input-group">
                    <textarea type="text" class="form-control" id="BanReason" rows="3" style="overflow:auto;resize:none" asp-for="BanReason"></textarea>
                </div>
                <div class="form-group mt-5">
                    <input type="submit" value="Potwierdź" class="btn btn-outline-danger float-end"/>
                </div>
            </div>
        </form>
    </div>
</div>

@section Scripts
{
    <style>
        .datepicker table tr td.today {
           background-color: rebeccapurple;
           background-image: unset;
        }
        .datepicker table tr td.active:active, 
        .datepicker table tr td.active.highlighted:active, 
        .datepicker table tr td.active.active,
        .datepicker table tr td span.active.active
        {
           background-color: unset;
           background-image: linear-gradient(to bottom,purple,purple);
        }
        .datepicker table tr td span.focused
        {
            background-color: purple;
        }
        .datepicker table tr td, .datepicker table tr th.day{
            text-align:center;
            width:50px;
            height:30px;
            border-radius:4px;
            border:none
        }
        .datepicker table tr td.year,.datepicker table tr th.year{
            width:90px;
        }
        .datepicker table tr td.month,.datepicker table tr th.month{
            width:60px;
        }
        .table-condensed{
        width: 390px;
        height: 390px;
        }
        .datepicker {
                    margin-top: 12px;
                    margin-left: 15px;
                    width: 400px;
                    height: 400px;
                    background-color: #6f42c1;
                    color: white;
                    text-shadow: unset;
                }
    </style>
    <script src="/js/Admin/DatePicker.js"></script>
    <script src="/js/Admin/TimePicker.js"></script>
    <script src="/js/Admin/UnbanConfirmation.js"></script>
}